<h3>My To Do List</h3>

<input type="text" #element name="nm" [(ngModel)]="textValue" placeholder="Add New">
<button name="Add" (click)="add(element.value)">
    Add New
</button>

<div>
    <div class="custom-control custom-checkbox" *ngFor="let i of values">
        <input type="checkbox" class="custom-control-input" id="{{i.id}}" (change)="values[i].isChacked=!i.isChacked" [(ngModel)]="i.isChacked">
        <label class="custom-control-label" for="{{i.id}}">{{i.id}}</label>
    </div>
</div>

<button name="Remove" (click)="remove()">
    Remove Marked
</button>

